:root {
	--primary: #5438b9;
	--primary-alt: #bfb4e5;
	--textColor: #e0e0e0;
	--textColorLight: #cccccc;
	--textColorLighter: #bbbbbb;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--primary);
}

/* progress bar styles */
#nprogress {
	position: absolute;
	overflow: hidden;
	top: 0;
	height: 3px;
	left: 0;
	width: 100%;
	z-index: 998;
	background-color: transparent;
}

#nprogress .peg {
	height: 3px;
	background-color: hsl(253, 54%, 80%);
}
